*{
    margin:0;

}
body {
    background-color: #4da6ff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
}
.main-header {
    height: 200px;
   
}
.main-header h1{
    margin: auto;
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
    position: relative;
    animation: myheader;
    animation-duration: 3s;
    /* animation-delay: 1s; */
    animation-fill-mode: forwards;
}
@keyframes myheader {
    0%{top: -50px;}
    100%{top: 150px;}
}
.container {
    width: 80%;
    margin: auto;
    position: relative;
    animation: content;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
@keyframes content{
    0%{left: -1050px;}
    100%{left: 50px;}
}
.container p{
    font-size: 18px;
}
a{
    display: inline-block;
    text-decoration: none;
    background-color: #333;
    padding: 1em 2em;
    border: 1px white solid;
    color :white;
    font-size: 12px;
    margin-top: 30px;
    margin-left: 75px;
    border-radius: 5px;
    opacity: 0;

    animation: btn;
    animation-delay: 3s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    transition-property: transform;
    transition-duration: 5s;
}


@keyframes btn{
    0%{opacity: 0;margin-left: 100px;}
    10%{transform: rotate(40deg); margin-left:90px;}
    50%{margin-left: 400px;background-color: green;transform: rotate(-180deg);}
    60%{margin-left: 350px;background-color: blue;transform: rotate(-120deg);}
    70%{margin-left: 300px;background-color: yellow;transform: rotate(-75deg);}
    80%{margin-left: 250px;background-color: red;transform: rotate(-40deg);}
    90%{margin-left: 200px;background-color:#333}
    100%{opacity: 1;}
    
}