
body{
	background-color: #f4f4f4;
	color: #555555;

	font-family: Arial , Helvetica , sans-serif;
	font-size: 16px;
	line-height: 1.6em;
	margin: 0;


}

.container{
	width: 80%;
	margin: auto;
}

.box-1{
	background-color: #333;
	color: #fff;
	border: 5px solid red ;

}

.box-2{

	 border: 2px solid grey;
	 padding: 20px;
	 margin: 10px 0px 10px 0px;
	 border-radius: 10px;
	 background-color: #ccc;
	 color: #fff;
}
.box-2 h2{
	height: 2em;
	font-weight: bold;
	text-transform: uppercase;
	color: black;
	text-decoration: underline;

}

.myForm{
	width: 100%;
	margin-bottom: 10px;

}
.myForm label{
	display: block;
	font-weight: bold;
	padding: 5px;
}
.myForm .form-group input[type="text"], input[type="email"]{
	width: 100%;
	background-color: #AED6F1;
	height: 25px;
	border: none;
	border-radius: 5px;
	font-size: 18px;
}
.myForm .form-group textarea{
	width: 100%;
	height: 50px;
}
.myForm input[type="submit"]{
	background-color: black;
	color: white;
	padding: 8px;
	border: none;
	border-radius: 3px;
}
.myForm input[type="submit"]:hover{
	background-color: red;
	color: white;
	padding: 8px;
	border: none;
	border-radius: 3px;
}
.block{
	float: left;
	width: 33.33%;
	border: 1px grey solid;
	box-sizing: border-box;
	padding: 5px 5px 5px 10px;
	
}
.clr{
	float: none;
	margin-bottom: 20px;
}
.sidebar{
	float: left;
	width: 30%;

}
.sidebar a{
	text-decoration: none;
	color: black;
	padding: 5px;
}

.sidebar a:hover{
	text-decoration: none;
	color: red;
}
.sidebar li{

list-style-type: none;
}
.main-block{
	float: right;
	width: 70%;
	border-left: solid red 2px;
	box-sizing: border-box;
	padding-left: 10px;
}